# Discord Bot Configuration
DISCORD_TOKEN=your_discord_bot_token_here
DISCORD_CLIENT_ID=your_application_id_here

# Optional: Server ID for instant command deployment
GUILD_ID=your_server_id_here

# Lavalink Configuration
LAVALINK_URL=host:port
LAVALINK_PASSWORD=your_lavalink_password_here
LAVALINK_SECURE=false

# Example from https://lavalink.darrennathanael.com/SSL/Lavalink-SSL/
#
#Host : lavalinkv4.serenetia.com
#Port : 443
#Password : "https://dsc.gg/ajidevserver"
#Secure : true